.form-textarea .size-small {
	height: 11.7em;
}
.form-textarea .size-medium {
	height: 21.3em;
}
.form-textarea .size-large {
	height: 30.9em;
}
.form-textarea .size-huge {
	height: 40.4em;
}
.form-textarea i.invalid {
	color: #d42;
}